<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>You are searching for <strong><%= @query %></strong> </p>
			<h1>No results found!</h1>
			<i class="fa fa-frown-o fa-3x"></i> <br/>
			<p>Please try something else.</p> <br/>
			<%= link_to 'Back', :back %> 
		</div>
	</div>
</div>