<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>New Article</strong>
          <button class="pull-right btn btn-default btn-xs"><%= link_to "Back", :back %> </button>
        </div>

        <div class="panel-body">
          <%= render 'form' %>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-body">
           <%= render 'tags/form' %>
          </div>
        </div>
    </div>
  </div>
</div>

