<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Edit Category</strong>
          <button class="pull-right btn btn-default btn-xs"><%= link_to "Back", :back %> </button>
        </div>

        <div class="panel-body">
          <%= render 'form' %>
        </div>

      </div>
    </div>
  </div>
</div>

